@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 60px;
  height: 60px;
  background: linear-gradient(#facc15 calc(1*100%/6),#fff 0 calc(3*100%/6),#facc15 0),
            linear-gradient(#facc15 calc(2*100%/6),#fff 0 calc(4*100%/6),#facc15 0),
            linear-gradient(#facc15 calc(3*100%/6),#fff 0 calc(5*100%/6),#facc15 0);
  background-size: 15px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
